*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: blanchedalmond;
    background-color: rgb(255, 255, 255);
   
}
.parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.father{
    background-color: black;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.son{
    width: 70%;
    background-color: rgb(241, 136, 255);
    margin: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto ;
}
img{
    width: 100px ;
    height: 100px;
}